{% load staticfiles %}
<!DOCTYPE html>
<html>
	<header>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
	</header>
    <head>
        <title>Portfolio</title>
    </head>

    <body>
    	{% include 'portfolio/_head.html'%}
    	{% include 'portfolio/_nav.html'%}
    {% block content %}{% endblock content %}
    </body>
</html>